.env 
node_modules

./config/iste-main-website-firebase-adminsdk-9cen6-6f3af39101.json:1
./config/iste-main-website-firebase-adminsdk-9cen6-6f3af39101.json
config/iste-main-website-firebase-adminsdk-9cen6-6f3af39101.json